@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Continuum";
  src: url('./font/contm.ttf');
}

:root {
  font-family: 'Continuum';
  line-height: 1.5;
  font-weight: 400;

  background-image: url('../src/assets/AFO-Menu.png');
  background-size: 'contain';

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 